type bdaddr, domain;
type bdaddr_exec, exec_type, file_type;

init_daemon_domain(bdaddr)

allow bdaddr nv_data_file:dir { search };
allow bdaddr nv_data_file:file { r_file_perms };

allow bdaddr bluetooth_data_file:dir { rw_dir_perms };
allow bdaddr bluetooth_data_file:file { create_file_perms };

set_prop(bdaddr, bluetooth_prop)
