dontaudit priv_app init:unix_stream_socket { connectto };
dontaudit priv_app property_socket:sock_file { write };
dontaudit priv_app firstboot_prop:file { open read getattr };
dontaudit priv_app ffs_prop:property_service { set };
# dontaudit priv_app atrace_exec:file { open read getattr };
# dontaudit priv_app audioserver_exec:file { open read getattr };
# dontaudit priv_app blkid_exec:file { open read getattr };
# dontaudit priv_app dexoptanalyzer_exec:file { open read getattr };
# dontaudit priv_app incident_exec:file { getattr };
# dontaudit priv_app mdnsd_exec:file { getattr };
dontaudit untrusted_app_25 proc_stat:file { read getattr open };
dontaudit untrusted_app_25 sysfs:file { open read getattr };
dontaudit untrusted_app_25 dumpstate_exec:file { getattr };
dontaudit untrusted_app_25 bootanim_exec:file { getattr };
dontaudit untrusted_app_25 cameraserver_exec:file { getattr };
dontaudit untrusted_app_25 clatd_exec:file { open read getattr };
dontaudit untrusted_app_25 dnsmasq_exec:file { open read getattr };
dontaudit untrusted_app_25 drmserver_exec:file { open read getattr };
dontaudit untrusted_app_25 fsck_exec:file { getattr };
dontaudit untrusted_app_25 gatekeeperd_exec:file { getattr };
dontaudit untrusted_app_25 healthd_exec:file { getattr };
dontaudit untrusted_app_25 hwservicemanager_exec:file { getattr };
dontaudit untrusted_app_25 idmap_exec:file { getattr };
dontaudit untrusted_app_25 installd_exec:file { getattr };
dontaudit untrusted_app_25 keystore_exec:file { getattr };
dontaudit untrusted_app_25 lmkd_exec:file { getattr };
dontaudit untrusted_app_25 logd_exec:file { getattr };
dontaudit untrusted_app_25 racoon_exec:file { getattr };
dontaudit untrusted_app_25 servicemanager_exec:file { getattr };
dontaudit untrusted_app_25 mediadrmserver_exec:file { getattr };
dontaudit untrusted_app_25 mediaextractor_exec:file { getattr };
dontaudit untrusted_app_25 mediametrics_exec:file { getattr };
dontaudit untrusted_app_25 netd_exec:file { getattr };
dontaudit untrusted_app_25 ppp_exec:file { getattr };
dontaudit untrusted_app_25 profman_exec:file { getattr };
dontaudit untrusted_app_25 anr_data_file:dir { read };
dontaudit untrusted_app_25 serialno_prop:file { read getattr open };
dontaudit untrusted_app_25 proc:file { read };
dontaudit untrusted_app_25 proc_touchpanel:dir { search };
dontaudit time_daemon system_data_file:file { write };
dontaudit rfs_access self:socket { ioctl };
dontaudit wcnss_service serialno_prop:file { read getattr open };
dontaudit surfaceflinger hal_graphics_allocator_hwservice:hwservice_manager { add };
