#============= hal_memtrack_default ==============
allow hal_memtrack_default charger_monitor:dir search;
allow hal_memtrack_default charger_monitor:file { getattr open read };
allow hal_memtrack_default hal_configstore_default:dir search;
allow hal_memtrack_default hal_configstore_default:file { getattr open read };
allow hal_memtrack_default hal_power_default:dir search;
allow hal_memtrack_default hal_power_default:file { getattr open read };
allow hal_memtrack_default hal_usb_default:dir search;
allow hal_memtrack_default hal_usb_default:file { getattr open read };
allow hal_memtrack_default hal_vibrator_default:dir search;
allow hal_memtrack_default hal_vibrator_default:file { getattr open read };
allow hal_memtrack_default hwservicemanager:dir search;
allow hal_memtrack_default hwservicemanager:file { getattr open read };
allow hal_memtrack_default mm-pp-daemon:dir search;
allow hal_memtrack_default mm-pp-daemon:file { getattr open read };
allow hal_memtrack_default rfs_access:dir search;
allow hal_memtrack_default rfs_access:file { open read getattr};
allow hal_memtrack_default servicemanager:dir search;
allow hal_memtrack_default servicemanager:file { getattr open read };
allow hal_memtrack_default vndservicemanager:dir search;
allow hal_memtrack_default vndservicemanager:file { getattr open read };
allow hal_memtrack_default wcnss_service:dir search;
allow hal_memtrack_default wcnss_service:file { getattr open read };
