#============= sensors ==============                                                                                                                                                                                                                                          
allow sensors persist_misc_file:file { getattr open read setattr write };
#allow sensors default_prop:property_service set;
allow sensors init:unix_stream_socket connectto;
allow sensors persist_misc_file:dir {search getattr open read };
allow sensors property_socket:sock_file write;

# drop privileges
allow sensors self:capability { dac_override sys_nice chown setuid setgid net_bind_service};

# b/18417109
# The kernel code does a permission check of both net_bind_service and
# net_raw, and allows access if either one returns true.
# It does the net_raw check first, triggering an SELinux denial.
# No need to audit
dontaudit sensors self:capability net_raw;

allow sensors sensors_device:chr_file rw_file_perms;
allow sensors sensors_socket:sock_file create_file_perms;
allow sensors socket_device:dir { add_name write remove_name };

# Wake lock access
wakelock_use(sensors)

# Access to /persist/sensors
allow sensors persist_file:dir { search write create add_name };
allow sensors persist_file:file { create rw_file_perms setattr };
allow sensors sysfs:file { open read getattr };

allow sensors self:socket *;
allowxperm sensors self:socket ioctl msm_sock_ipc_ioctls;
